body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0;
  padding:0;
}

a {
  color: #00B7FF;
}

#proxy {
	display: none;
}

label{
	display: block;
	margin-bottom: 5px;
	color:#333;
	font-size:13px;
	font-weight: normal;
	line-height: 18px;
}

.options {
	border-bottom: 1px solid #E5E5E5;
	margin-bottom: 20px;
}

.removeUrl{
	margin-left: 10px;
}

.more{
	margin-bottom: 10px;
}

.urls li{
	margin-bottom:10px;
}

#console{
	background: #000;
	height: 300px;
	resize:none;
	margin-bottom:50px;
	overflow-y:scroll; 
}

.consoleContainer{
	color:#A6E22E;
	position: relative;
}

#clear{
	position: absolute;
	top: 5px;
	right: 25px;
	text-decoration:none;
}

.warning {
	color: #FAA52C;
}

.info{
	color: #3EA4C2;
}

.error{
	color:#D14741;
}

#console a {
	text-decoration: underline;
}

.numInfo{
	width: 80px;
	display: inline-block;
	color:purple;
}